<!DOCTYPE html>
<html>
  <head>
    <title>EQ Works Index</title>
    <link rel='stylesheet' type="text/css" href='https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/simplex/bootstrap.min.css' />
    <link rel='stylesheet' type="text/css" href='/styles/style.css' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
  </head>
  <body class="d-flex flex-column align-items-center">
     
    <div id="chart-title" class="mt-5"></div>
    <div id="message"></div>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <div class="controls d-flex flex-row justify-content-around w-75">
        <div class="d-flex flex-column justify-content-around">
            <a href="#" class="btn btn-primary btn-lg active" id="hourly-btn" role="button">Hourly</a>
            <a href="#" class="btn btn-primary btn-lg active" id="daily-btn" role="button">Daily</a>
        </div>
        <div>
            <div class="radio">
                <label ><input type="radio" name="type" value="events"  class="mr-2" checked>Events</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="type" value="impressions"  class="mr-2">Impressions</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="type" value="clicks" class="mr-2">Clicks</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="type" value="revenue" class="mr-2">Revenue</label>
              </div>
        </div>
    </div>
    <div class='d-flex flex-row justify-content-around w-75 mt-4'>
        <a href='/tables'>See Tables</a>
    </div>
  </body>
  
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="/js/charts.js"></script>
</html>